<% if flash[:notice].present? %> 
  <h2><%= flash[:notice] %></h2> 
<% end %>

<!-- <div id="sign-in-form" style="display:none"> -->
	<form action='/login' method="post">
		<%= form_tag login_path, :method => :post do %>
			<%= label_tag :email %>
			<%= text_field_tag :email, params[:email] %>
			<%= label_tag :password %>
			<%= password_field_tag :password %>
			<%= submit_tag "Sign in" %>
		<% end %>
<!-- </div> -->