<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test2 with microphone</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>

</head>
<body>
	<div id="newListSettings" style="display: none">
		<h1>Give a name to your new list</h1>
		<input name="list_name" id="list_name" required>
		<button id="addList">Add list</button>
		<button id="cancelSettings">Cancel</button>
	</div>

	<!-- If there is a current user logged in -->
	<% if @current_user %>


	<% end %>

	<!--Sign up form -->
	<% unless @current_user %>
		<!-- Propose to either sign in or sign up -->
		<div id="login-choice" style="display: none">
			<h1>Sign in or sign up to continue</h1>
			<button id="signup-choice">Sign up</button>
			<button id="signin-choice">Sign in</button>
		</div>

		<div class="sign-up" style="display: none">
			<h1>To save your settings, please sign up first!</h1>
			<% if flash[:notice].present? %> 
            	<h2><%= flash[:notice] %></h2> 
          	<% end %>
 			<%= form_for @user do |x| %>
				<%= x.text_field :username, :placeholder => "username", :autofocus => true, :required => true  %>
				<%= x.email_field :email, :placeholder => "email address", :required => true %>
				<%= x.password_field :password, :placeholder => "password", :required => true %>
				<%= x.password_field :password_confirmation, :placeholder => "password confirmation", :required => true %>
				<%= x.submit "Sign up" %>
				<button class="cancel_button">Cancel</button>
			<%end %> 
		</div>

		<!-- Sign in form -->
		<div id="sign-in-form" style="display:none">
			<h1>Sign in</h1>
			<% if flash[:notice].present? %> 
            	<h2><%= flash[:notice] %></h2> 
          	<% end %>
			<!--<form action='/login' method="post">-->
				<%= form_tag login_path, :method => :post do %>
					<%= label_tag :email %>
					<%= text_field_tag :email, params[:email], :autofocus => true, :required => true %>
					<%= label_tag :password %>
					<%= password_field_tag :password, :required => true %>
					<%= submit_tag "Sign in", class:'signInButton' %>
					<button class="cancel_button">Cancel</button>
				<% end %>

			<!--</form> -->
		</div> 
	<% end %>

	<div id="credits">
		<p>Music: "Hunrgy Face" by <a href="http://www.rdio.com/artist/Mogwai/">Mogwai</a></p>
	</div>

	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>-->
</body>
</html>