<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test2 with microphone</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
	<!--<script type='text/javascript' src='js/dat.gui.js'></script>
	// <script type="text/javascript" src="js/sound.js"></script>
	// <script type="text/javascript" src="js/shapes.js"></script>
	// <script type="text/javascript" src="js/controls.js"></script>

	// <script type="text/javascript" src="js/landscape.js"></script>
	// <script type="text/javascript" src="js/landscape_test.js"></script>

	// <script type="text/javascript" src="js/microphone.js"></script>
	// <!--<link rel="stylesheet" href="css/style.css">
	 <script src="js/control_panel.js"></script>
 	<script type="text/javascript" src="js/documentready.js"></script> -->
</head>
<body>

	<div class="menu">
		<h1>SYNC</h1>
		<%== usernav %>
		<h3>Effects</h3>
		<p id="cube">Cube</p>
		<p id="landscape">Landscape</p>
		<p id="city">City</p>
		<div id="microphone">Use microphone</div>
		<div id="song">Use song</div>
	</div>

	<div class="control_panel">
		<div id="inner_panel">
			<select class="lists">
				<option value="Default">Default</option>
			</select>
			<button id="saveSettings">Save</button>
			<button class="newList">New</button>
			<button class="deleteList">Delete</button>
			<p>Size: <input id="sizeInput" type="range" name="range" min="-5" max="5"></p>
		</div>
		<div id="closeControls">Close controls</div>
	</div>

	<div id="newListSettings" style="display: none">
		<h1>Give a name to your new list</h1>
		<input name="list_name" id="list_name" required>
		<button id="addList">Add list</button>
		<button id="cancelSettings">Cancel</button>
	</div>

	<!-- If there is a current user logged in -->
	<% if @current_user %>
		<!-- the save settings button and field-->
		<!--<form id="settings-save">-->
		 <!-- <nav>
		    <ul>
		      <li class="settings-save">
		        <a href="#" class="save-settings" title="save">SAVE</a> -->
		  <!--  <div id="save-settings">
		    	<h1>Give a name to your settings</h1>
		        <input name="settings-name" id="settings-name" placeholder="settings name">
		        <!-- I can add 'required' after the placeholder if I need -->
		      <!--  <button>Save settings</button>
		        <button id="cancelSettings">Cancel</button>
		    </div>
		     <!-- </li>
		    </ul>
		  </nav>-->
	<!--	</form>-->

		<!-- an empty spot for adding the saved loops as buttons -->
		<!-- need to add the new saved loop to the drop down in the controls panel -->
			<!--<nav id="loops-saved">
		    <ul id="loop-nav">
		      <!-- this gets populetd by ajax 
				</ul>
		  </nav> -->

	<% end %>

	<!--Sign up form -->
	<% unless @current_user %>
		<!-- Propose to either sign in or sign up -->
		<div id="login-choice" style="display: none">
			<h1>Sign in or sign up to continue</h1>
			<button id="signup-choice">Sign up</button>
			<button id="signin-choice">Sign in</button>
		</div>

		<div class="sign-up" style="display: none">
			<h1>To save your settings, please sign up first!</h1>
			<% if flash[:notice].present? %> 
            	<h2><%= flash[:notice] %></h2> 
          	<% end %>
 			<%= form_for @user do |x| %>
				<%= x.text_field :username, :placeholder => "username", :autofocus => true, :required => true  %>
				<%= x.email_field :email, :placeholder => "email address", :required => true %>
				<%= x.password_field :password, :placeholder => "password", :required => true %>
				<%= x.password_field :password_confirmation, :placeholder => "password confirmation", :required => true %>
				<%= x.submit "Sign up" %>
				<button class="cancel_button">Cancel</button>
			<%end %> 
		</div>

		<!-- Sign in form -->
		<div id="sign-in-form" style="display:none">
			<h1>Sign in</h1>
			<% if flash[:notice].present? %> 
            	<h2><%= flash[:notice] %></h2> 
          	<% end %>
			<!--<form action='/login' method="post">-->
				<%= form_tag login_path, :method => :post do %>
					<%= label_tag :email %>
					<%= text_field_tag :email, params[:email], :autofocus => true, :required => true %>
					<%= label_tag :password %>
					<%= password_field_tag :password, :required => true %>
					<%= submit_tag "Sign in" %>
					<button class="cancel_button">Cancel</button>
				<% end %>

			<!--</form> -->
		</div> 
	<% end %>

	<div id="credits">
		<p>Music: "Hunrgy Face" by <a href="http://www.rdio.com/artist/Mogwai/">Mogwai</a></p>
	</div>

	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>-->
</body>
</html>